---
layout: default
---
<% slot :page_title, transform: false do -%><%= page.data.title %> | Dan’s Health Guide<% end -%>
<% slot :head_extra, transform: false do -%>
<meta name="fediverse:creator" content="@danhorst@ruby.social">
<% end -%>

<article>
  <header>
    <h1><%= page.data.title %></h1>
  </header>

  <section>
    <%= yield %>
  </section>
</article>

<% slot :page_footer, transform: false do -%>
<footer>
  <nav class="section-navigation">
    <% if page.previous_resource %>
    <a class="prev element" data-turbo-action="advance" href="<%= page.previous_resource.relative_url %>"><small>Previous</small> <%= page.previous_resource.data.title %></a>
    <% else %>
    <a class="prev element" data-turbo-action="advance" href="/health/"><small>Previous</small> Introduction</a>
    <% end %>
    <a class="home element" href="/health/"><small>Home</small>Health Guide</a>
    <% if page.next_resource %>
    <a class="next element" data-turbo-action="advance" href="<%= page.next_resource.relative_url %>"><small>Next</small> <%= page.next_resource.data.title %></a>
    <% end %>
  </nav>
</footer>
<% end -%>
